<div class="panel panel-default">
  <div class="panel-heading">
    <%= @question.title %>
  </div>
  <div class="panel-body">
     <%= @question.content %>
  </div>
</div>

<%= link_to "Geri", :back, class: "btn btn-warning" %>